{% extends "rango/base_boothstrap.html" %}
{% load static %}
{% block titie_block %}
    Rango
{% endblock titie_block %}
{% block body_block %}
    <br>
    <h1>Add Category</h1>
    <form id="category_form" method="POST" action="/rango/add_category/">
        {% csrf_token %}
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}
        {% for field in form.visible_fields %}
            {{ field.errors }}
            {{ field.help_text }}
            {{ field }}
        {% endfor %}
        <button class="btn btn-primary" type="submit" name="submit" value="Create Category">
            Create Category
        </button>
        {% comment %} <button class="btn btn-primary"><input type="submit" name="submit" value="Create Category" /></button> {% endcomment %}
    </form>
{% endblock body_block %}
    <!-- <body>
        <h1>Add Category</h1>
        <form id="category_form" method="POST" action="/rango/add_category/">
            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field }}
            {% endfor %}
            <input type="submit" name="submit" value="Create Category" />
        </form>
    </body>
</html> -->